@import "https://cdn.jsdelivr.net/gh/digitallytailored/classless@latest/classless.min.css";

:root {
    color-scheme: light dark;
}

button {
    min-width: auto;
}

[hidden] {
    display: none !important;
}

fieldset {
    padding: .5em 1em;
    margin: 1em 0;
}

fieldset:first-child {
    margin-top: 0;
}

fieldset:last-child {
    margin-bottom: 0;
}

.episode-info p.image {
    float: left;
    margin: 0 2em 0 0;
    max-width: 20em;
}

.episode-info p.airdate,
.episode-info div.summary,
.episode-info p.rating,
.episode-info p.actions {
    margin-left: 22em;
}

h2.title em {
    font-size: 60%;
    font-style: normal;
    opacity: .4;
}